<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>Passwallet- myaccount</title>
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myaccount.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/togglefooter.js"></script>
    <script type="text/javascript" src="/scripts/copytoclipboard.js"></script>
  </head>
  <body>
    <%- include('partials/_loggedheader') %>
    <main class='mysavedata'>
      <h3>My Accounts</h3>
      <table class="table">
        <%JSON.stringify(passwords) %>

        <tr class="definitions">
          <th>id</th>
          <th>username</th>
          <th>homepage/loginpage</th>
          <th>password</th>
        </tr>
        <% for (const logins of passwords) { %>
        <tr class="user-info">
          <td><%= logins.id %></td>
          <td><%= logins.user_name_for_site_login %></td>
          <td><%= logins.url_for_login %></td>
          <td>
            <input type="text" class="invisible-text" value="<%= logins.user_password_for_site_login %>" id="input-<%=logins.id %>" />
            <button class="copypass" onclick="myFunction(`input-<%=logins.id %>`)">Copy Pass</button>
          </td>
          <td>
            <a href="home/editLogin/<%=logins.id%>">
            <button class="edit">Edit</button>
            </a>
          </td>
          <td>
            <form method="POST" action="home/deleteLogin/<%=logins.id%>">
             <button class="delete" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
        <table>
          <tr>
            <th>id</th>
            <th>username</th>
            <th>homepage/loginpage</th>
            <th>password</th>
            <th>category</th>
          </tr>
          <% for (const logins of passwords) { %>
          <tr>
            <td><%= logins.id %></td>
            <td><%= logins.user_name_for_site_login %></td>
            <td><%= logins.url_for_login %></td>
            <td><%= logins.category %></td>

            <td>
              <input
                type="text" class='invisible-text'
                value="<%= logins.user_password_for_site_login %>"
                id="input-<%=logins.id %>"
              />
              <button class = "copypass" onclick="myFunction(`input-<%=logins.id %>`)">Copy password</button>
            </td>

            <td>
              <a href="editLogin/<%=logins.id%>">
                Edit
              </a>
            </td>
            <td>
              <form method="POST" action="deleteLogin/<%=logins.id%>">
                Delete
              </form>
            </td>
          </tr>
          <% } %>
        </table>
        <tbody></tbody>
      </table>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
