<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>Passwallet- myaccount</title>
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myaccount.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>
  <body>
    <%- include('partials/_loggedheader') %>
    <main>
      <h3>My Accounts</h3>
      <%JSON.stringify(passwords) %>

      <table>
        <tr class='column-names'>
          <th>id</th>
          <th>username</th>
          <th>homepage/loginpage</th>
          <th>password</th>
        </tr>
        <% for (const logins of passwords) { %>
        <tbody class="organizer">
          <tr class='dynamic-row'>
            <td><%= logins.id %></td>
            <td><%= logins.user_name_for_site_login %></td>
            <td><%= logins.url_for_login %></td>
            <td><%= logins.user_password_for_site_login %></td>
            <td>
              <form method="POST" action="home/editLogin:user_id">
                <button class="btn btn-outline-primary" type="submit">
                  Edit
                </button>
              </form>
            </td>
            <td>
              <form method="POST" action="home/deleteLogin:user_id">
                <button class="btn btn-outline-danger" type="submit">
                  Delete
                </button>
              </form>
            </td>
          </tr>
<<<<<<< HEAD
=======
          <% for (const logins of passwords) { %>
            <tr>
                <td><%= logins.id %></td>
                <td><%= logins.user_name_for_site_login %></td>
                <td><%= logins.url_for_login %></td>
                <td><%= logins.user_password_for_site_login %></td>
                <td>
                  <a href="home/editLogin/<%=logins.id%>">
                    <button class="btn btn-outline-primary" type="submit">
                      Edit
                    </button>
                  </a>
                </td>
                <td>
                  <form method="POST" action="home/deleteLogin/<%=logins.id%>">
                    <button class="btn btn-outline-danger" type="submit">
                      Delete
                    </button>
                  </form>
                </td>
            </tr>
          <% } %>
          </table>
        <tbody>
>>>>>>> aeb13e873f9549c1b7648255751956162583f882
        </tbody>
        <% } %>
      </table>
    </main>
  </body>
</html>
